* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1.3vh;
}

div.nav{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vh;
    background-color: lightgray;
    z-index: 2;
    border-radius: 0 0 2vh 2vh;
}

a.home{
    position: fixed;
    left: 2vw;
    top: 1.5vh;
    height: 3vh;
    text-decoration: none;
    color: black;
    font-size: 2vh;
}

button.lang_toggle{
    position: fixed;
    right: 2vw;
    top: 1vh;
    border:0;
    padding:0;
    background-color: lightgray;
}

img.lang_img{
    height:3vh;
    width: 10vw;
    border-radius: 0.75vh;
}

div.con1{
    position: relative;
    margin-block: 30vh;
    height: 40vh;
    background-color: oldlace;
    width: 90vw;
    margin-inline: 5vw;
    border-radius: 3vh;
}

h3.name{
    position: relative;
    left: 1vw;
    top: 2vh;
}

h4.subname{
    position: relative;
    left: 1vw;
    top: 2vh;
}

p.con{
    position: relative;
    left: 1vw;
    top: 2vh;
    width: 88vw;
}

div.ind{
    position: relative;
    bottom: 45vh;
}

@media only screen and (min-width: 992px) {
    /* For desktop: */

    body{
        font-size: 3vh;
    }


    div.nav{
        height: 10vh;
        border-radius:0 0 3vh 3vh;
    }

    a.home{
        left: 1.25vw;
        height: 5vh;
        top: 2vh;
        font-size: 4vh;
    }

    button.lang_toggle{
        right: 1.5vw;
        top: 1.5vh;
    }

    img.lang_img{
        height:7vh;
        width: 7vw;
        border-radius: 1vh;
    }

    div.con1{
        margin-block: 22.5vh;
        height: 55vh;
        border-radius: 5vh;
    }

    div.ind{
        bottom: 52.5vh;
    }
}